**/__pycache__
checkpoint
runs
data/modified_miniimagenet/
data/miniimagenet/mini-imagenet-cache-test.pkl
data/miniimagenet/mini-imagenet-cache-train.pkl
data/miniimagenet/mini-imagenet-cache-val.pkl


